<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    title= title
</head>

<body>
    <header>
        <nav>
            -if(!username)
                <a href='/login'>login</a>
            -else
                <a href= '/logout'>logout</a>
                <a href= '/profile'>profile</a>
        </nav>
    </header>
    <div>
        h1= username
        <form method="POST" , action="/join" , enctype="json">
            <p>
                <label for="roomcode">RoomCode</label> <br />
                <input id='roomcode' , name="roomcode" />
            </p>
            <p>
                <label for="username">Username</label> <br />
                input(
                    id= 'username'
                    name= 'username'
                    value= username
                )
            </p>
            <p>
                <input type="submit" , value="Join" />
            </p>
        </form>
    </div>
    <div>
        <form method="POST" , action="/new" , enctype="json">
            <table>
                <thead>
                    <tr>
                        <th>set</th>
                        <th>creator</th>
                        <th># of questions</th>
                        <th>select</th>
                    </tr>
                </thead>
                </tbody>
                    each set in qsets
                        <tr>
                            td= set._id.set
                            td= set._id.user
                            td= set.count
                            td
                                input(
                                    type='checkbox'
                                    name='qsets'
                                    value= set._id
                                    )
                        </tr>
                </tbody>
            </table>
            <p>
                <input type="submit" , value="Create Room" />
            </p>
        </form>
    </div>
</body>

</html>